[Unit]
Descrition=Telegram Bot
Wants=network.target
After=network.target

[Service]
ExecStart=python PyScriptAdressHere

[Install]
WantedBy=multi-user.target
