[Unit]
Description=Telegram BOT
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python PyScriptAdressHere
Restart=on-abort

[Install]
WantedBy=multi-user.target
